@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mainGeo;
  src: url("assets/fonts/MainSemiBold.woff");
}
@font-face {
  font-family: mainEng;
  src: url("assets/fonts/Poppins-SemiBold.ttf");
}
body {
  line-height: inherit;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: mainGeo;
  letter-spacing: 1.5px;
}

*::-webkit-scrollbar {
  width: 8px;
  background: rgba(206, 206, 206, 0.557);
  display: none;
}

button {
  outline: none;
}

.linearBg {
  background: linear-gradient(90deg, #002032 0%, #1c0032 100%);
}
.iconBg {
  background: linear-gradient(180deg, #0047ff 0%, #00b0ff 100%);
  color: #3075ff;
}

.contentContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .contentContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contentContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contentContainer {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .contentContainer {
    width: 1350px;
  }
}
@media (min-width: 1500px) {
  .contentContainer {
    width: 1440px;
  }
}
